<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style/style.scss">
    <link rel="stylesheet" href="/src/style/users.scss">
    <title>Felhasználók</title>
</head>
<body>
    <div class="main-container">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Név</th>
                        <th>Születési Dátum</th>
                        <th>Alkalmazott</th>
                        <th>Adminsztrátor</th>
                        <th>Szerkesztés</th>
                        <th>Törlés</th>
                    </tr>
                </thead>
                <tbody id="felhasznalo-adatok">
                {% for felhasznalo in felhasznalo_adatok %}
                    <tr>
                        <td class="felhasznalo-nev" data-nev="{{ felhasznalo.nev }}">{{ felhasznalo.nev }}</td>
                        <td class="felhasznalo-datum" data-datum="{{ felhasznalo.datum }}">{{ felhasznalo.datum }}</td>
                        <td class="felhasznalo-alkalmazott" data-alkalmazott="{{ felhasznalo.alkalmazott }}">{{ felhasznalo.alkalmazott }}</td>
                        <td class="felhasznalo-adminisztrator" data-adminisztrator="{{ felhasznalo.adminsztrator }}">{{ felhasznalo.adminisztrator }}</td>
                        <td><button onclick="editFelhasznalo({{ felhasznalo.nev }})">*</button></td>
                        <td><button onclick="deleteFelhasznalo({{ felhasznalo.nev }})">X</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <input id="alkalmazott-input" type="checkbox" value="Alkalmazott">
            <input id="adminisztrator-input" type="checkbox" value="Adminsztrátor">
        </div>
    </div>


    <!--- Scripts --->
    <script>
        var felhasznaloTable = document.getElementById("felhasznalo-adatok");
        var alkalmazottInput = document.getElementById("alkalmazott-input");
        var adminisztratorInput = document.getElementById("adminisztrator-input");

        var editingFelhasznalo = -1;

        function editFelhasznalo(id) {
            for(let i = 0; i < felhasznaloTable.childNodes.length; i++) {
                if(felhasznaloTable.childNodes[i].classList !== undefined) {
                    let nevField = felhasznaloTable.childNodes[i].querySelector(".felhasznalo-nev");
                    let alkalmazottCheck = felhasznaloTable.childNodes[i].querySelector(".felhasznalo-alkalmazott");
                    let adminisztratorCheck = felhasznaloTable.childNodes[i].querySelector(".felhasznalo-adminisztrator");
                    
                    if(nevField.dataset.nev == nev) {
                        alkalmazottInput.value = nevField.dataset.alkalmazott;
                        adminisztratorInput = nevField.dataset.adminisztrator;

                        break;
                    }
                }
            }
            editingFelhasznalo = id;
        }

        function deleteFelhasznalo(id) {}

        function ujFelhasznalo(id) {}
    </script>
</body>
</html>