<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style/style.scss">
    <title>Vasútmenetrend</title>
</head>
<body>
    <div class="main-container">
        <header>
            <div class="header-container">
                    <h1>MÁK-STOP</h1>
                    <h2>Üdvözlünk a MÁK-STOP oldalán!</h2>
            </div>
            <div>
                <nav class="navigation-bar">
                    <a href="/jaratok">járatok</a>
                    <a href="/vonatok">vonatok</a>
                    <a href="/allomasok">állomások</a>
                    <a href="/jegyek">jegyek</a>
                    <a href="/felhasznalok">felhasználók</a>
                </nav>
            </div>
        </header>
    </div>
</body>
</html>