<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Összetett lekérdezések</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="container">
        <h1>Összetett lekérdezések</h1>
        <div>
            <form action="{{url_for('api_jaratkereso')}}">
                <label>Járatkereső</label>
                <label>Uticél</label>
                <select name="jaratkereso_hova">
                    <option value="Budapest-Keleti">Budapest-Keleti</option>
                    <option value="Debrecen">Debrecen</option>
                    <option value="Szeged">Szeged</option>
                    <option value="Győr">Győr</option>
                    <option value="Pécs">Pécs</option>
                </select>
                <button type="submit">Keresés</button>
            </form>
        </div>

        <div>
            <form action="{{url_for('api_jegyvasarlas')}}">
                <label>Jegyvásárlás</label>
                <button type="submit">Keresés</button>
            </form>
        </div>

        <div>
            <form action="{{url_for('api_eveskimutatas')}}">
                <label>Éves kimutatás</label>
    <div id="kimutatas">
        <p><strong>Dolgozói Költség: </strong><span id="dolgozoi_koltseg">...</span> Ft</p>
        <p><strong>Jegybevétel: </strong><span id="jegy_bevetel">...</span> Ft</p>
        <p><strong>Nyereség/Veszteség: </strong><span id="nyereseg">...</span> Ft</p>
    </div>
            </form>
        </div>

        <div>
            <form action="{{url_for('api_arustat')}}">
                <label>Árúsítási statisztika</label>
                <button type="submit">Keresés</button>
            </form>
        </div>

        <div>
            <form action="{{url_for('api_onlinejegy')}}">
                <label>Online Jegyrendelés</label>
                <button type="submit">Keresés</button>
            </form>
        </div>

        <div>
            <form action="{{url_for('api_berszam')}}">
                <label>Bérek kiszámítása</label>
                <label>Válassz ki egy évet:<input name="ber_ev" type="number" min="1990" max="2025" step="1" value="2025"></label>
                <label>Válassz hónapot:
                    <select name="ber_honap">
                        <option value="1">Január</option>
                        <option value="2">Február</option>
                        <option value="3">Március</option>
                        <option value="4">Április</option>
                        <option value="5">Május</option>
                        <option value="6">Június</option>
                        <option value="7">Július</option>
                        <option value="8">Augusztus</option>
                        <option value="9">Szeptember</option>
                        <option value="10">Október</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </label>
                <button type="submit">Keresés</button>
            </form>
        </div>

        <div>
            <form action="{{url_for('api_utasszam')}}">
                <label>Járatok utasszámának kiszámítása</label>
                <label>Válassz ki egy évet:<input name="utasszam_ev" type="number" min="1990" max="2025" step="1" value="2025"></label>
                <button type="submit">Keresés</button>
            </form>
        </div>

    </div>


    <script>
    function getAnnualReport() {
        $.getJSON('/api_eveskimutatas', function(data) {
            $('#dolgozoi_koltseg').text(data.dolgozoi_koltseg.toFixed(2));
            $('#jegy_bevetel').text(data.jegy_bevetel.toFixed(2));
            $('#nyereseg').text(data.nyereseg.toFixed(2));
        }).fail(function() {
            alert('Hiba történt az adatok lekérésekor.');
        });
    }

    $(document).ready(function() {
        getAnnualReport();
    });
</script>

</body>
</html>
