<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Összetett lekérdezések</title>
</head>
<body>
    <div id="container">
        <h1>Összetett lekérdezések</h1>
        <div>
            <form action="{{url_for(/api/osszetett/jaratkereso)}}">
                <label>Járatkereső</label>
                <label>Uticél</label>
                <select name="jaratkereso_hova">

                </select>
                <button type="submit">Keresés</button>
            </form>
        </div>

        <div>
            <form action="{{url_for(/api/osszetett/jegyvasarlas)}}">
                <label>Jegyvásárlás</label>
                <button type="submit">Keresés</button>
            </form>
        </div>

        <div>
            <form action="{{url_for(/api/osszetett/eveskimutatas)}}">
                <label>Éves kimutatás</label>
                <button type="submit">Keresés</button>
            </form>
        </div>

        <div>
            <form action="{{url_for(/api/osszetett/arustat)}}">
                <label>Árúsítási statisztika</label>
                <button type="submit">Keresés</button>
            </form>
        </div>

        <div>
            <form action="{{url_for(/api/osszetett/onlinejegy)}}">
                <label>Online Jegyrendelés</label>
                <button type="submit">Keresés</button>
            </form>
        </div>

        <div>
            <form action="{{url_for(/api/osszetett/berszabszam)}}">
                <label>Bérek, szabadságok kiszámítása</label>
                <button type="submit">Keresés</button>
            </form>
        </div>

        <div>
            <form action="{{url_for(/api/osszetett/utasszam)}}">
                <label>Járatok utasszámának kiszámítása</label>
                <label>Válassz ki egy évet:<input name="utasszam_ev" type="number" min="1990" max="2025" step="1" value="2025"></label>
                <button type="submit">Keresés</button>
            </form>
        </div>

    </div>
</body>
</html>